# Ignore specific workflow files
.github/workflows/secret.yml

# Ignore issue templates
.github/ISSUE_TEMPLATE/

# Ignore the Python bytecode files
*.pyc
__pycache__/

# Ignore directories containing image files
album_art/
background_images/

# Ignore build directories
build/

# Ignore virtual environment directory
venv/
env/
.venv/

# Ignore Processed Files
processed_hashes.txt
config.json
