# ignore github
.github/

# Ignore Python bytecode files
__pycache__/

# Ignore directories containing image files
album_art/
background_images/

# Ignore build directories
build/

# Ignore virtual environment directory
env/
.venv/
venv/

# Ignore distribution directories for Linux and Windows
dist_linux/
dist_windows/

# Ignore Processed Files
processed_hashes.txt
